{% from "layout/components.html" import cHeader, cPlatformRoom, cImagec, cEmpty %}
{% from "layout/forms.html" import fAddPlatformRoom %}
{% extends 'layout/index.html' %}

{% block title %}Room: {{ room.name }}{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        {{ cHeader('Room', desc=doc.index ) }}
    {% else %}
        {{ cHeader('Room', desc=doc.index ~ doc.strnager) }}
    {% endif %}
    <div class="w3-panel">
        {% for r in rooms %}
            {{ cRoomLarge(r)}}
        {% else %}
            {{ cEmpty(doc.empty) }}
        {% endfor %}
    </div>
{% endblock %}