{% from "layout/components.html" import cHeader, cRoom, cEmpty %}
{% from 'layout/models.html' import cRoomLarge with context %}
{% extends 'layout/index.html' %}

{% block title %}Rooms{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        {{ cHeader('Room', buttons=[('plus', url_for('room.new'))], desc=doc.index) }}
    {% else %}
        {{ cHeader('Room', desc=doc.index ~ doc.strnager) }}
    {% endif %}
    <div class="w3-panel">
        {% for r in rooms %}
            {{ cRoomLarge(r)}}
        {% else %}
            {{ cEmpty(doc.empty) }}
        {% endfor %}
    </div>
{% endblock %}