{% from "layout/components.html" import cHeader, cPlatformRoom %}
{% from 'layout/models.html' import cMountSmall %}
{% from "layout/forms.html" import fAddPlatformRoom %}
{% extends 'layout/index.html' %}

{% block title %}Room: {{ room.name }}{% endblock %}

{% block content %}
{{ cHeader('Platform of ' + room.name, back='room.index') }}
<div class="w3-row">
    {% for mount in room.mounts %}
        {{ cMountSmall(mount) }}
    {% else %}
        nessuno
    {% endfor %}
</div>

{{ fAddPlatformRoom(platforms) }}

{% endblock %}