{% from 'layout/components.html' import cLink  %}
{% from 'layout/models.html' import cIndex with context %}
{% from 'layout/panels.html' import pHeader, pInfo, pEmpty with context %}
{% extends 'layout/index.html' %}

{% block title %}{{ model }}s{% endblock %}

{% block content %}
    <div class="w3-panel">
        {% for icon, url in buttons %}
        {{ cLink(icon=icon, url=url) }}
        {% endfor %}
    </div>
    {{ pInfo(doc.index) }}
    {{ pHeader(title=model~'s') }} 
    <div class="w3-panel">
        {% for item in items %}
            {{ cIndex(model, item) }}
        {% else %}
            {{ pEmpty(label=doc.empty, advice=doc.advice) }}
        {% endfor %}
    </div>
{% endblock %}