{% from 'layout/models.html' import cIndex with context %}
{% from 'layout/panels.html' import pHeader, pDoc, pEmpty %}
{% extends 'layout/index.html' %}

{% block title %}{{ model }}s{% endblock %}

{% block content %}
    {{ pDoc(doc.index) }}
    {{ pHeader(label=model~'s', buttons=buttons) }}
    <div class="w3-panel">
        {% for item in items %}
            {{ cIndex(model, item) }}
        {% else %}
            {{ pEmpty(label=doc.empty, advice=doc.advice) }}
        {% endfor %}
    </div>
{% endblock %}