{% from 'layout/test-db.html' import cUsers, cPlatforms, cExperiments, cRooms, cSource %}
{% extends 'layout/index.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <form method="POST">
        <input type="submit" value="reset">
    </form>

    {{ cUsers(users, ['email', 'username', 'theme', 'status', 'experiments']) }}
    {{ cPlatforms(platforms, ['name', 'description', 'img', 'rooms']) }}
    {{ cRooms(rooms, ['name', 'description', 'img']) }}
    {{ cExperiments(experiments, ['name', 'description', 'minutes', 'user', 'room', 'state']) }}
    {{ cSource(sources, ['path', 'experiment', 'platform']) }}

{% endblock %}

