{% from "layout/panels.html" import pSubmitBack, pHeader, pInfo with context %}
{% extends 'layout/index.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{{ pInfo(doc) }}
{{ pHeader(title='Test build file') }}

<form method="post" id="input">
    <div class="w3-panel w3-margin ">
        <select class="w3-select w3-round w3-third w3-card-4" name="platform">
            {% for platform in platforms %}
            <option value="{{ platform.name }}">{{ platform.name }}</option>
            {% endfor %}
        </select>
        <label class="w3-margin-top w3-padding">
            Select the platform you want
        </label>
    </div>
    <pre class="w3-panel w3-card-4 w3-round w3-margin w3-padding w3-theme-l4">
<span class="w3-text-theme">void</span> setup() {
    <span class="w3-text-theme">ArduinoOTA</span>.begin();
<textarea name="setup" rows="10" class="w3-card-4 w3-round" style="width: 90%; margin-left: 32px;" placeholder="setup"></textarea>
}
<span class="w3-text-theme">void</span>  loop() {
    <span class="w3-text-theme">ArduinoOTA</span>.handle();
<textarea name="loop" rows="10" class="w3-card-4 w3-round" style="width: 90%; margin-left: 32px;" placeholder="loop"></textarea>
}</pre>
    {{ pSubmitBack(label='test', icon='try') }}
</form>
{% endblock %}