{% from 'layout/components.html' import cImg, cIcon %}

{% extends 'layout/index.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<h1 class="w3-center">Welcome to Ares</h1>
<h5 class="w3-center">Welcome to our website where you can conduct <b>experiments</b> using different devices!</h5>
<!-- sign in sign up -->
<div class="w3-container w3-row" >
    <div class="w3-col s1">
        <h1>
            {{ cIcon('user') }}
        </h1>
    </div>
    <div class="w3-col s11">
        <p>To get started, you'll need to <a href="/login">login</a> to access our tools and resources. If you're new
            here, we
            invite you to <a href="/singup">create an account</a>.</p>
    </div>
</div>
<!-- Documentation -->
<div class="w3-container w3-row w3-right-align">
    <div class="w3-col s11">
        <p>With our user-friendly interface and comprehensive documentation, you'll be
            able to easily explore the capabilities of these powerful devices and unlock new possibilities for your
            projects.
            Read the <a href="/examples">code examples</a> we provide for you to try.</p>
    </div>
    <div class="w3-col s1">
        <h1>
            {{ cIcon('book') }}
        </h1>
    </div>
</div>
<div class="w3-container w3-row" >
    <div class="w3-col s1">
        <h1>
            {{ cIcon('long-arrow-right') }}
        </h1>
    </div>
    <div class="w3-col s11">
        <p> Due to the high number of customers, we have organized a queue to manage the high volume of requests. We
            apologize
            for any inconvenience this may cause</p>
    </div>
</div>
<hr>
<p>Our website is designed to help you simulate a <b>variety of devices</b>, so you can test your software on
    <b>different platforms</b>
</p>
<div class="w3-row">
    <div class="w3-col s4 w3-center w3-padding">
        {{ cImg('esp8266.png', 'platforms') }}
        <h4>ESP8266</h4>
    </div>
    <div class="w3-col s4 w3-center w3-padding">
        {{ cImg('esp32.png', 'platforms') }}
        <h4>ESP832</h4>
    </div>
    <div class="w3-col s4 w3-center w3-padding">
        {{ cImg('docker.png', 'images') }}
        <h4>Emulated devices</h4>
    </div>
</div>

<hr>




{% endblock %}