{% extends 'layout/index.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<h1 class="w3-center">Welcome to Ares</h1>
<h5 class="w3-center">Welcome to our website where you can conduct <b>experiments</b> using different devices!</h5>
<!-- Queue -->
<div class="w3-container w3-row w3-text-red w3-margin w3-right-align">
    <div class="w3-col s10">
        <p>
            Due to the high number of customers, we have organized a queue to manage the high volume of requests. We
            apologize
            for any inconvenience this may cause
        </p>
    </div>
    <div class="w3-col s2">
        <h1 class="w3-center">
            <i class="fa fa-warning"></i>
        </h1>
    </div>
</div>
<!-- Sing in Sing up -->
<div class="w3-container w3-row" >
    <div class="w3-col s1">
        <h1>
            <i class="fa fa-user"></i>
        </h1>
    </div>
    <div class="w3-col s11">
        <p>To get started, you'll need to <a href="/login">login</a> to access our tools and resources. If you're new
            here, we
            invite you to <a href="/singup">create an account</a>.</p>
    </div>
</div>
<!-- Documentation -->
<div class="w3-container w3-row w3-right-align">
    <div class="w3-col s11">
        <p>With our user-friendly interface and comprehensive documentation, you'll be
            able to easily explore the capabilities of these powerful devices and unlock new possibilities for your
            projects.
            Read the <a href="/examples">code examples</a> we provide for you to try.</p>
    </div>
    <div class="w3-col s1">
        <h1>
            <i class="fa fa-book"></i>
        </h1>
    </div>
</div>
<!-- Forum -->
<div class="w3-container w3-row">
    <div class="w3-col s1">
        <h1>
            <i class="fa fa-users"></i>
        </h1>
    </div>
    <div class="w3-col s11">
        <p>Join our <a href="/comunity">community of makers and innovators</a> and start experimenting today! We have a
            large <a href="/comunity/forum">forum area</a> where you can ask for advice from other users</p>

    </div>
</div>
<hr>
<p>Our website is designed to help you simulate a <b>variety of devices</b>, so you can test your software on
    <b>different platforms</b>
</p>
<div class="w3-row">
    <div class="w3-col s4 w3-center">
        <img src="{{ url_for('static', filename='images/esp8266.png') }}" style="width: 65%">
        <h4>ESP8266</h4>
    </div>
    <div class="w3-col s4 w3-center">
        <img src="{{ url_for('static', filename='images/esp32.png') }}" style="width: 65%">
        <h4>ESP832</h4>
    </div>
    <div class="w3-col s4 w3-center">
        <img src="{{ url_for('static', filename='images/docker.png') }}" style="width: 65%">
        <h4>Emulated devices</h4>
    </div>
</div>

<hr>




{% endblock %}