{% from 'layout/components.html' import cIcon, cLink %}
{% from 'layout/panels.html' import pInfo %}
{% extends 'layout/index.html' %}

{% block title %}Account{% endblock %}

{% block content %}
{{ pInfo(doc)}}

<div class="w3-display-container w3-center">
    <div class="w3-display-topleft w3-card w3-theme w3-round-large">
        <div class="w3-margin-left w3-margin-right">
            <h1>{{ current_user.email }}</h1>
        </div>
    </div>
    <div class="w3-display-bottomright w3-card w3-theme w3-round-large">
        <div class="w3-margin-left w3-margin-right">
            <h3>{{ current_user.username }}</h3>
        </div>
    </div>

    <div class="w3-panel">
        {{ current_user.getPicture()|safe }}
    </div>
</div>

<div class="w3-panel w3-card-4 w3-center w3-round-large w3-padding-large">
    {{ cLink(icon='question-circle', view='views.help', title='info', class='w3-xlarge') }}
    {{ cLink(icon='cog', view='auth.settings', title='settings', class='w3-xlarge') }}
    {{ cLink(icon='flask', view='experiment.index', title='my experiments', class='w3-xlarge') }}
    {{ cLink(icon='sign-out', view='auth.logout', title='logout', class='w3-xlarge') }}
</div>

{% endblock %}