{% from 'layout/components.html' import cIcon %}
{% extends 'layout/index.html' %}

{% block title %}Account{% endblock %}

{% macro button(icon, name, title) %}
<a href="{{ url_for(name) }}" class="w3-btn w3-xlarge w3-theme w3-circle" title="{{ title }}">
    {{ cIcon(icon) }}
</a>
{% endmacro %}

{% block content %}
<div class="w3-display-container w3-center">
    <div class="w3-display-topleft w3-card w3-theme w3-round-large">
        <div class="w3-margin-left w3-margin-right">
            <h1>{{ current_user.email }}</h1>
        </div>
    </div>
    <div class="w3-display-bottomright w3-card w3-theme w3-round-large">
        <div class="w3-margin-left w3-margin-right">
            <h3>{{ current_user.username }}</h3>
        </div>
    </div>
    <div class="w3-panel">
        <img src="https://i.pravatar.cc/300?img={{current_user.firstName}}" alt="avatar" class="w3-circle w3-margin w3-card-4">
    </div>
</div>

<div class="w3-panel w3-card-4 w3-center w3-round-large w3-padding-large">
    {{ button('info-circle', 'views.info', 'info') }}
    {{ button('cog', 'auth.settings', 'settings') }}
    {{ button('flask', 'experiment.index', 'my experiments') }}
    {{ button('sign-out', 'auth.logout', 'logout') }}
</div>

{% endblock %}