{% extends 'layout/index.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="w3-panel w3-display-container w3-center">
    <div class="w3-display-topleft w3-card w3-theme w3-round-large">
        <div class="w3-margin-left w3-margin-right">
            <h1>{{ current_user.email }}</h1>
        </div>
    </div>
    <div class="w3-display-bottomright w3-card w3-theme w3-round-large">
        <div class="w3-margin-left w3-margin-right">
            <h3>{{ current_user.username }}</h3>
        </div>
    </div>

    <div class="w3-panel">
        <img src="https://i.pravatar.cc/300?img={{current_user.firstName}}" alt="avatar"
            class="w3-circle w3-margin w3-card-4">
    </div>
</div>
<div class="w3-panel w3-card-4 w3-center w3-round-large w3-padding-large">
    <a href="{{ url_for('auth.settings') }}" class="w3-btn w3-xlarge w3-theme w3-circle" title="settings">
        <i class="fa fa-cog"></i>
    </a>
    <a class="w3-btn w3-xlarge w3-grey w3-circle">
        <i class="fa fa-leanpub"></i>
    </a>
    <a class="w3-btn w3-xlarge w3-grey w3-circle">
        <i class="fa fa-users"></i>
    </a>
    <a href="{{ url_for('experiment.index') }}" class="w3-btn w3-xlarge w3-theme w3-circle" title="experiments">
        <i class="fa fa-flask"></i>
    </a>
    <a href="{{ url_for('auth.logout') }}" class="w3-btn w3-xlarge w3-theme w3-circle w3-tooltip" title="Logout">
        <i class="fa fa-sign-out"></i>
    </a>
</div>


{% endblock %}