{% from "layout/components.html" import cSubmitBack, cInput %}
{% from "layout/panels.html" import pSubmitBack, pInput, pDoc %}
{% extends 'layout/index.html' %}

{% block title %}Settings{% endblock %}

{% block content %}

<form class="w3-panel" method="post">
    <h3 class="w3-center">Settings</h3>
    {{ pInput(label='Email', value=current_user.email, type='email', class='w3-half', readonly=1) }}
    {{ pInput(label='Username', name='username', value=current_user.username, class='w3-half', required=1) }}
    {{ pInput(label='Status', value=current_user.getStatus(), class='w3-half', readonly=1) }}
    <label class="w3-panel w3-half"> Theme
        <select name="theme" class="w3-select w3-round-large" name="theme">
            <option value="{{ current_user.theme }}">{{ current_user.theme.capitalize() }}</option>
            <option value="pink">Pink</option>
            <option value="purple">Purple</option>
            <option value="indigo">Indigo</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
            <option value="orange">Orange</option>
            <option value="blue-grey">Blue-grey</option>
            <option value="brown">Brown</option>
            <option value="black">Black</option>
        </select>
    </label>
    {{ pSubmitBack(label='Save', icon='save', back='views.welcome')}}
</form>
{{ pDoc(doc)}}

{% endblock %}