{% from 'layout/panels.html' import pInput, pSubmitBack %}
{% extends 'layout/index.html' %}

{% block title %}Signup{% endblock %}

{% block content %}

<form method="post">
    <h3 align="center">Signup</h3>
    {{ pInput(label='Email', name='email', required=1, type='email') }}
    {{ pInput(label='Username', name='username', required=1) }}
    {{ pInput(label='Password', name='password1', required=1, type='password') }}
    {{ pInput(label='Confirm password', name='password2', required=1, type='password') }}
    {{ pSubmitBack(label='Signup', icon='user-plus')}}
</form>

{% endblock %}