{% extends 'layout/index.html' %}

{% block title %}Signup{% endblock %}

{% block content %}

<form method="post">
    <h3 align="center">Signup</h3>
    <label class="w3-panel"> Email
        <input type="email" name="email" class="w3-input" required="required">
    </label>
    <label class="w3-panel"> Username
        <input type="text" name="username" class="w3-input" required="required">
    </label>
    <label class="w3-panel"> Password
        <input type="password" name="password1" class="w3-input" required="required">
    </label>
    <label class="w3-panel"> Password (confirm)
        <input type="password" name="password2" class="w3-input" required="required">
    </label>
    <input type="submit" class="w3-btn w3-theme w3-right w3-margin">
</form>

{% endblock %}