{% extends 'layout/index.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<form action="try" method="post">
    <pre class="">
#include &lt;ESP8266WiFi.h&gt;
#include &lt;ESP8266mDNS.h&gt;
#include &lt;WiFiUdp.h&gt;
#include &lt;ArduinoOTA.h&gt;

void setup() {
    ArduinoOTA.begin();
<textarea name="setup" rows="10" class="w3-card-4 w3-round-large w3-block" placeholder="setup"></textarea>
}

void loop() {
    ArduinoOTA.handle();
<textarea name="loop" rows="10" class="w3-card-4 w3-round-large w3-block" placeholder="loop"></textarea>
}
    </pre>
    <div class="w3-panel">
        <label class="w3-third w3-margin-right">
            How many devices?
            <input type="number" name="quanti" class="w3-input" value="1" min="1">
        </label>
        <label class="w3-third">
            How much minutes?
            <input type="number" name="quanti" class="w3-input" value="5" min="1">
        </label>
    </div>
    <div class="w3-row w3-right">
        <a href="/">Annulla</a>
        <input type="submit" value="Prova" class="w3-btn w3-margin w3-card w3-round-large">
    </div>
</form>
{% endblock %}