<!-- BASIC -->
{% macro cImg(src, folder, class) %}
    <img src="/static/{{ folder~'/' if folder }}{{ src }}" class="w3-block {{ class }}"/>
{% endmacro %}

{% macro cIcon(icon, class) %}
    <i class="fa fa-{{ icon }} {{ class }}"></i>
{% endmacro %}

<!-- INPUT -->
{% macro cInput(name, value, id, class, placeholder, required=True, type='text', disabled=False) %}
    <input
        class="w3-input w3-round w3-card {{ class }}"
        type="{{ type }}"
        name="{{ name }}"
        {% if value %} value="{{ value }}" {% endif %}
        {% if id %} id="{{ id }}" {% endif %}
        {% if placeholder %} placeholder="{{ placeholder }}" {% endif %}
        {% if disabled %} disabled="disabled" {% endif %}
        {% if required %} required="required" {% endif %}
    /> 
{% endmacro %}

{% macro cTextarea(name, value, id, class, placeholder, required=True, disabled=False) %}
    <textarea
        class="w3-input w3-round w3-card {{ class }}"
        name="{{ name }}"
        {% if id %} id="{{ id }}" {% endif %}
        {% if placeholder %} placeholder="{{ placeholder }}" {% endif %}
        {% if disabled %} disabled="disabled" {% endif %}
        {% if required %} required="required" {% endif %}
    >{{ value }}</textarea>
{% endmacro %}

<!-- Buttons -->
{% macro cLink(label, icon, view, url, onclick, class, title, color='theme') %}
    <a {% if url or view %}
            href="{{ url or url_for(view) }}"
        {% else %}
            onclick="{{ onclick }}"
        {% endif %}
        title="{{ title }}"
        class="w3-large w3-btn w3-round w3-card-4 {{ class }} {{ 'w3-'~color if color }}">
        {{ cIcon(icon)}}
        <span class="w3-hide-small w3-hide-medium">
            {{ label }}
        </span>
    </a>
{% endmacro %}

{% macro cBack(view, url, class, label='Back', color='white') %}
    {% if view or url %}
        {{ cLink(label, 'arrow-left', view=view, url=url, color=color, class=class) }}
    {% else %}
        {{ cLink(label, 'arrow-left', onclick='window.history.back()') }}
    {% endif %}
{% endmacro %}

{% macro cSubmit(label, icon, id, class, title, name='submit', color='theme') %}
    <button type="submit"
        id="{{ id }}"
        name="{{ name }}"
        class="w3-large w3-btn w3-round w3-{{ color }} w3-{{ round }} w3-card {{ class }}">
        {{ cIcon(icon) }}
        {{ label }}
    </button>
{% endmacro %}

{% macro cSubmitBack(label, icon, view, url, autofocus) %}
    <div class="w3-right w3-margin">
        {{ cBack(view=view, url=url) }}
        {{ cSubmit(label=label, icon=icon)}}
    </div>
{% endmacro %}

<!-- Messages -->
{% macro cMessage(label, class, color='black')  %}
<p class="w3-text-{{ color }} w3-center {{ class }}">
    {{ label|safe }}
</p>
{% endmacro %}
{% macro cError(label)   %}
    {{ cMessage(label, color='red') }}
{% endmacro %}
{% macro cWarning(label)  %}
    {{ cMessage(label, color='yellow') }}
{% endmacro %}
{% macro cInfo(label)  %}
    {{ cMessage(label, color='blue') }}
{% endmacro %}
{% macro cSuccess(label)  %}
    {{ cMessage(label, color='green') }}
{% endmacro %}
