<footer class="w3-bar w3-theme w3-large">
    {% if current_user.is_authenticated %}
        <a href="/new-post" class="w3-bar-item w3-btn {% if request.path == '/new-post' %} w3-white {% endif %}">
            <i class="fa fa-plus"></i>
            New post
        </a>
        <a href="/new-question" class="w3-bar-item w3-btn {% if request.path == '/new-question' %} w3-white {% endif %}">
            <i class="fa fa-question "></i>
            New question
        </a>
    {% endif %}
    <a href="/comunity" class="w3-bar-item w3-btn {% if '/comunity' in request.path  %} w3-white {% endif %}">
        <i class="fa fa-users"></i>
        Comunity
    </a>
</footer>