{% from 'layout/components.html' import cImg, cLink, cInput, cSubmit, cButton, cTextarea %}
{% from 'layout/platform.html' import cPlatformsIndex with context %}
{% from 'layout/room.html' import cRoomIndex with context %}
{% from 'layout/experiment.html' import cExperimentsIndex, cExperimentsIndex with context %}



{% macro cElementQIndex(elementQ) %}
<div class="w3-panel w3-round w3-padding w3-display-container w3-card-4 w3-theme-l2">
    {{ elementQ.experiment }}<br>
    duration {{ elementQ.experiment.minutes }} minutes <br>
    {% if elementQ.finished() %}
        Experiment ended at {{ elementQ.endedTime()}} <br>
    {% else %}
        {% if elementQ.started() %}
            Experiment started at {{ elementQ.startedTime()}} <br>
            execution now <br>
        {% else %}
            Experiment just enqueued at {{ elementQ.enqueueTime()}}<br>
        {% endif %}
    {% endif %}
</div>
{% endmacro %}

{% macro cIndex(model, item) %}
    {% if model == 'Experiment' %}
        {{ cExperimentsIndex(item) }}
    {% elif model == 'Platform' %}
        {{ cPlatformsIndex(item) }}
    {% elif model == 'Room' %}
        {{ cRoomIndex(item) }}
    {% elif model == 'Queue' %}
        {% for testbed in item %}
            {{ cElementQIndex(testbed) }}
        {% endfor %}
    {% endif %}
{% endmacro %}



