{% from 'layout/components.html' import cImg, cLink, cInput, cSelectSource %}

{% macro cExperimentLarge(experiment) %}
<div class="w3-panel w3-round-large w3-padding w3-display-container {{ experiment.classColor() }}">
    <div class="w3-col m4">
        {{ cImg(experiment.room.img, 'rooms') }}
    </div> 
    <div class="w3-col m8 w3-center">
        <h1>{{ experiment.name }}</h1>
        <div>
            Platform: {{ experiment.room.mounts|length  }} - 
            Sources: {{ experiment.sources|length }}
        </div>
        <div class="w3-display-bottomright w3-margin">
            {{ cLink('Show', 'flask', color='white', link=url_for('experiment.single', id=experiment.id)) }}
        </div>
    </div>
</div>
{% endmacro %}

{% macro cRoomLarge(room) %}
<div class="w3-panel w3-round-large w3-padding w3-display-container w3-card-4">
    <div class="w3-col m4" style="min-height: 200px">
        {{ cImg(room.img, 'rooms') }}
    </div> 
    <div class="w3-col m8 w3-center">
        <h1>{{ room.name }}</h1>
        <div class="w3-display-bottommiddle w3-margin w3-block">
            {% if current_user.isAdmin() %}
                {{ cLink('Edit', 'edit', url_for('room.edit', id=room.id)) }}
                {{ cLink('Change platforms', 'deviantart', url_for('room.platforms', id=room.id)) }}
                {{ cLink('Dekete room', 'trash', url_for('room.delete', id=room.id)) }}
            {% endif %}
            {{ cLink('New experiment', 'flask', url_for('room.experiment', id=room.id)) }}
            {{ cLink('View', 'eye', url_for('room.eye', id=room.id)) }}
        </div>
    </div>
</div>
{% endmacro %}


{% macro cPlatformLarge(platform) %}
<div class="w3-panel w3-theme w3-round-large w3-row w3-padding">
    <div class="w3-col m4">
        {{ cImg(platform.img, 'platforms') }}
    </div> 
    <div class="w3-col m8 w3-center">
        <h1>{{ platform.name }}</h1>
        <p>
            {{ platform.description }}
        </p>
    </div> 
</div>
{% endmacro %}

{% macro cMountSmall(mount) %}
<div class="w3-half w3-display-container">
    <div class="w3-panel w3-theme w3-round-large w3-row w3-padding w3-margin w3-display-container">
        <div class="w3-col m4">
            {{ cImg(mount.platform.img, 'platforms') }}
        </div> 
        <div class="w3-col m8 w3-center">
            <form id="{{ mount.id }}" method="POST" class=" w3-margin">
                <div class="w3-margin w3-display-right ">
                    Platform: <b>{{ mount.platform.name }}</b><br>
                    {{ cInput('id', value=mount.id, class='w3-hide')}}
                    {{ cInput('name', value=mount.name)}}
                </div>
                <script>
                    $('#{{mount.id}}').on('change', function() {
                        $(this).submit();
                    });
                </script>
            </form>
        </div> 
    </div> 
</div>
{% endmacro %}

{% macro cMountMedium(mount, experiment) %}
<div class="w3-half w3-display-container">
    <div class="w3-panel w3-theme w3-round-large w3-row w3-padding w3-margin w3-display-container">
        <div class="w3-col m4">
            {{ cImg(mount.platform.img, 'platforms') }}
        </div> 
        <div class="w3-col m8 w3-center">
            <div class="w3-margin w3-display-right ">
                Platform: <b>{{ mount.platform.name }}</b><br>
                Name: <b>{{ mount.name}}</b>
            </div>
            {{ cSelectSource(experiment.sources, mount) }}
        </div> 
    </div> 
</div>
{% endmacro %}