{% macro td(name, obj) %}
    <td>{{ obj[name] }}</td>
{% endmacro %}

{% macro tr(obj, names) %}
    {% for name in names %}
        {{ td(name, obj)}}
    {% endfor %}
{% endmacro %}

{% macro header(title) %}
    <h3 class="w3-margin w3-center">{{ title.capitalize() }}</h3>
{% endmacro %}

{% macro cUsers(users, fields) %}
    {{ header('users') }}
    <table class="w3-table-all">
        <tr>
            {% for field in fields %}
                <th>{{ field}} </th>
            {% endfor %}
        </tr>
        {% for user in users %}
            {{ user.to_tr()|safe }}
        {% endfor %}
    </table>
{% endmacro %}

{% macro cPlatforms(platforms, fields) %}
    {{ header('platforms') }}
    <table class="w3-table-all">
        <tr>
            {% for field in fields %}
                <th>{{ field}} </th>
            {% endfor %}
        </tr>
        {% for platform in platforms %}
            {{ platform.to_tr()|safe }}
        {% endfor %}
    </table>
{% endmacro %}

{% macro cExperiments(experiments, fields) %}
    {{ header('experiments') }}
    <table class="w3-table-all">
        <tr>
            {% for field in fields %}
                <th>{{ field}} </th>
            {% endfor %}
        </tr>
        {% for experiment in experiments %}
            {{ experiment.to_tr()|safe }}
        {% endfor %}
    </table>
{% endmacro %}

{% macro cRooms(rooms, fields) %}
    {{ header('rooms') }}
    <table class="w3-table-all">
        <tr>
            {% for field in fields %}
                <th>{{ field}} </th>
            {% endfor %}
        </tr>
        {% for room in rooms %}
            {{ room.to_tr()|safe }}
        {% endfor %}
    </table>
{% endmacro %}

{% macro cSources(sources, fields) %}
    {{ header('sources') }}
    <table class="w3-table-all">
        <tr>
            {% for field in fields %}
                <th>{{ field }} </th>
            {% endfor %}
        </tr>
        {% for source in sources %}
            {{ source.to_tr()|safe }}
        {% endfor %}
    </table>
{% endmacro %}

{% macro cMounts(mounts, fields) %}
    {{ header('mounts') }}
    <table class="w3-table-all">
        <tr>
            {% for field in fields %}
                <th>{{ field }} </th>
            {% endfor %}
        </tr>
        {% for mount in mounts %}
            {{ mount.to_tr()|safe }}
        {% endfor %}
    </table>
{% endmacro %}